* {
    font-family: 'JetBrains Mono', monospace;
    color:#594F4F;
    background-color: #FFF5ED;
  }

/* Dummy sidebar */
#sidebar {
    width: 15%;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFF5ED; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2; 
}

/* Container Div for the tree */
#resizable-box {
    height: 100vh; /* Makes the tree-view take up the entire viewport */
    width: 15%; /* Adjust based on the remaining space */
    min-width: 0; /* Width can become 0 when collapsed */
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 15%; /* Align resizable box to the right of sidebar */
    background-color: #FFF5ED;
    overflow: hidden; /* When the resize-bar clips into elements, they don't wrap */
}

#content { /* The container for the file-tree */
    height: calc(100vh - 4em); /* Makes the tree-view take up the entire viewport */
    padding: .01em;
    overflow: scroll;
    margin-top: 3.5em;
    scrollbar-width: none; /* HIDE scroll bar */
    border-top: 0.3em solid #F3e2d5;
}

#create-journal { /* The plus button on the top-right of the tree view */
    background-color: rgb(221 255 159);
    position:absolute;
    width: 2em;
    height: 2em;
    right: 0%;
    margin:1em;
    border-radius: 10px;
    border: 0.2em solid #F3e2d5;
}

#delete-journal { /* The minus button on the top-left of the tree view */
    background-color: rgb(255 175 159);
    position:absolute;
    width: 2em;
    height: 2em;
    left: 0%;
    margin:1em;
    border-radius: 10px;
    border: 0.2em solid #F3e2d5;
}

#delete-all-journals { /* The minus button on the top-left of the tree view */
    background-color: rgb(255 175 159);
    position: absolute;
    top: 2em;
    width: min(calc(100% - 6em), 8em);
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    border: 0.2em solid #F3e2d5;
}

#journal-view{ /* The section to the right of the tree-view */
    background-color:#FFF5ED;
    height: 100vh;
    right: 0;
    position:absolute;
    left: 30%;
    top: 0;
    overflow: hidden;
}


/* Bar to the right of the tree-view. Allows drag to resize */
#resizer {
    width: 0.3em;
    height: inherit;
    background-color: #F3e2d5;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

/* Buttons in the center of resizer. */
#collapse-button, #expand-button {
    position: absolute;
    height: 5em;
    width: 2em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #ccc;
    border: none;
    border-radius: 0.5em;
}

#collapse-button {
    right: 0; /* Makes the button hug the right side of the tree-view */
}

#expand-button {
    left:15%; /* Hugs the right of the menu sidebar. Temporary value */
    display: none; /* Hides the button initially */
}

/* Indents subfolders and makes sure they don't wrap */
.tree-element {
    white-space: nowrap; /* Makes elements not wrap in the tree-view */
    padding-left: 1em; /* Indents each layer (DO NOT USE %) */
}

/* Removes the indentation for the root files */
#content > .tree-element {
    padding-left: 0.01em;
}


#content button{
    font-size: medium;
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0.5em;
}

.journal-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.selected { /* The selected JOURNAL in the tree view */
    position: relative; /* Ensure the element is positioned relatively */
    background-color: #e6d2c2; /* Original background color */
}

/* Pseudo element to allow highlight to extend past div boundaries */
.selected::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    inset: 0 0 0 -100vw; /* extend the background color to the left */
    background-color: inherit; /* Inherit the background color from the parent */
    z-index: -1; /* Place the pseudo-element behind the parent element */
}

.parent-folder-closed { /* Hides the display of a div if its PARENT folder is closed */
    display:none;
}