body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #fff5ed;
    
}

.container {
    width: 600px;
    min-height:300px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: #F3E2D5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    padding: 20px;
    position: absolute;
    margin-right: auto;
    margin-left: auto;

}

.containerpie {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    margin-right:0;

}

.task {
    display: flex;
    align-items: center;
    margin: 35px 0;
    padding: 10px;
    
}

.task.completed span {
    text-decoration: line-through;
}